<p class="pull-right"><span class="label label-success">지원</span> <span class="label label-warning">부분지원</span> <span class="label label-default">미지원</span></p>
<h4 class="top_margin_30">브라우저별 호환성<sup>*</sup></h4>
<table class="table table-hover">
	<tr>
		<th></th>
		<th colspan="4">데스크탑</th>
		<th class="left_border" colspan="2">모바일</th>
	</tr>
	<tr>
		<th>브라우저</th>
		<th>IE</th>
		<th>Firefox</th>
		<th>Chrome</th>
		<th>Safari</th>
		<th class="left_border">iOS Safari</th>
		<th>Android Browser</th>
	</tr>
	<tr>
		<th>현재버전</th>
		<th>10.0</th>
		<th>24.0</th>
		<th>29.0</th>
		<th>6.0</th>
		<th class="left_border">7.0</th>
		<th>4.2</th>
	</tr>
	<tr>
		<td><a href="http://caniuse.com/eot">eot</a></td>
		<td><span class="label label-success">6.0+</span></td>
		<td><span class="label label-default">미지원</span></td>
		<td><span class="label label-default">미지원</span></td>
		<td><span class="label label-default">미지원</span></td>
		<td class="left_border"><span class="label label-default">미지원</span></td>
		<td><span class="label label-default">미지원</span></td>
	</tr>
	<tr>
		<td><a href="http://caniuse.com/woff">woff</a></td>
		<td><span class="label label-success">9.0+</span></td>
		<td><span class="label label-success">3.6+</span></td>
		<td><span class="label label-success">5.0+</span></td>
		<td><span class="label label-success">5.1+</span></td>
		<td class="left_border"><span class="label label-success">5.0+</span></td>
		<td><span class="label label-default">미지원</span></td>
	</tr>
	<tr>
		<td><a href="http://caniuse.com/svg-fonts">svg</a></td>
		<td><span class="label label-default">미지원</span></td>
		<td><span class="label label-default">미지원</span></td>
		<td><span class="label label-success">4.0+</span></td>
		<td><span class="label label-success">3.2+</span></td>
		<td class="left_border"><span class="label label-success">3.2+</span></td>
		<td><span class="label label-success">3.0+</span></td>
	</tr>
	<tr>
		<td><a href="http://caniuse.com/ttf">ttf</a></td>
		<td><span class="label label-warning">9.0+</span></td>
		<td><span class="label label-success">3.5+</span></td>
		<td><span class="label label-success">4.0+</span></td>
		<td><span class="label label-success">3.1+</span></td>
		<td class="left_border"><span class="label label-success">4.2+</span></td>
		<td><span class="label label-success">2.2+</span></td>
	</tr>
</table>

<h4 class="top_margin_30">국내 브라우저 버전별 점유율<sup>**</sup></h4>
<table class="table table-hover">
	<tr>
		<th>브라우저</th>
		<th>점유율(%)</th>
		<th>누적 점유율(%)</th>
	</tr>
	<tr>
		<td>IE 8.0</td>
		<td>36.3</td>
		<td>36.3</td>
	</tr>
	<tr>
		<td>IE 10.0</td>
		<td>22.66</td>
		<td>58.96</td>
	</tr>
	<tr>
		<td>IE 9.0</td>
		<td>17.53</td>
		<td>76.49</td>
	</tr>
	<tr>
		<td>Chrome 29.0</td>
		<td>15.89</td>
		<td>92.38</td>
	</tr>
	<tr>
		<td>Firefox 23.0</td>
		<td>1.36</td>
		<td>93.74</td>
	</tr>
	<tr>
		<td>Chrome 27.0</td>
		<td>0.85</td>
		<td>94.59</td>
	</tr>
	<tr>
		<td>Safari iPad</td>
		<td>0.76</td>
		<td>95.35</td>
	</tr>
	<tr>
		<td>Chrome 28.0</td>
		<td>0.75</td>
		<td>96.1</td>
	</tr>
	<tr>
		<td>Safari 6.0</td>
		<td>0.46</td>
		<td>96.56</td>
	</tr>
	<tr>
		<td>IE 7.0</td>
		<td>0.35</td>
		<td>96.91</td>
	</tr>
	<tr>
		<td>Chrome for Android</td>
		<td>0.35</td>
		<td>97.26</td>
	</tr>
	<tr>
		<td>Android Browser</td>
		<td>0.25</td>
		<td>97.51</td>
	</tr>
	<tr>
		<td>Firefox 24.0</td>
		<td>0.21</td>
		<td>97.72</td>
	</tr>
	<tr>
		<td>Chrome 26.0</td>
		<td>0.2</td>
		<td>97.92</td>
	</tr>
	<tr>
		<td>Safari 5.1</td>
		<td>0.16</td>
		<td>98.08</td>
	</tr>
</table>

<p class="help-block">* 브라우저별 호환성 자료는 <a href="http://caniuse.com/">caniuse.com</a>의 자료를 참고했습니다.<br />** 브라우저 버전별 점유율 정보는 <a href="http://gs.statcounter.com/#browser_version-KR-monthly-201309-201309-bar">StatCounter</a>의 자료를 참고했습니다(2013년 9월 기준).</p>
